<ion-header mode="ios">
  <ion-toolbar>
    <ion-title>Rick And Morty</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <ion-grid>
    <ion-row>
      <ion-col size-lg="6" size-md="6" size-sm="12" size="12">
        <!-- Buscado por nombre -->
        <ion-searchbar placeholder="Buscar..." [(ngModel)]="params.name" (ionInput)="searchCharacters()"
          [debounce]="250"></ion-searchbar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        Cantidad de personajes: {{params.count}}
      </ion-col>
    </ion-row>
    <ion-row>
      <!-- Listado de personajes -->
      <ion-col *ngFor="let c of characters" size-lg="6" size-md="6" size-sm="12" size="12">
        <ion-card>
          <ion-card-content>
            <ion-grid>
              <ion-row class="ion-align-items-center">
                <ion-col size-lg="4" sise-md="4" sise-sm="4" size="12">
                  <ion-avatar class="ion-padding">
                    <img [src]="c.image" />
                  </ion-avatar>
                </ion-col>
                <ion-col size-lg="8" sise-md="8" sise-sm="8" size="12">
                  <ion-card-title>{{c.name}}</ion-card-title>
                  <ion-card-subtitle>Especie: {{c.species}}</ion-card-subtitle>
                  <ion-card-subtitle>Estado: {{c.status}}</ion-card-subtitle>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
   <!-- Botón flotante para volver arriba -->
   <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="scrollToTop()">
      <ion-icon name="arrow-up"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- Scrroll infinito, se activa cuando estamos en el final de la página -->
  <ion-infinite-scroll threshold="25%" position="bottom" (ionInfinite)="getCharacters($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
